<head>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <link rel="stylesheet"  type="text/css"  href="css/address.css">

</head>

<section id="AboutSection" class="section text-center">

        <!-- Author box -->
        <div id="JumbotronAbout" class="jumbotron p-5 text-center text-md-left author-box">
            <!-- Name -->
            <h3 class="h3-responsive text-center font-weight-bold ">
                About Us    
            </h3>
            <hr>
            <div class="row">
                <!-- Avatar -->
           
                <!-- Author Data -->
                <div class="col-12 mx-auto col-md-10">
                    <h5 class="font-weight-bold mb-3">
                        <strong>WhoRepsYou</strong>
                    </h5>
                    <div class="personal-sm pb-3">
                        <a class="pr-2">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a class="pr-2">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="pr-2">
                            <i class="fab fa-twitter"> </i>
                        </a>
                        <a class="pr-2">
                            <i class="fab fa-github-square"> </i>
                        </a>
                        <a class="pr-2">
                            <i class="far fa-envelope"></i>
                        </a>
                    </div>
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint esse nulla quia quam veniam commodi
                        dicta, iusto inventore. Voluptatum pariatur eveniet ea, officiis vitae praesentium beatae quas
                        libero, esse facere.
                    </p>
                </div>
            </div>
        </div>
        <!-- Author box -->

    </section>