<head>
        <link rel="stylesheet"  type="text/css"  href="css/navigation-cards.css">

</head>

<div class="container-fluid">
        <div class="card-deck">

            <div class="card mb-4">
                <!--Card image-->
                <div class="view overlay">                    
                    <img src="/images/white-house.jpg" class="img-fluid" alt="sample">
                    <div class="hoverMask"></div>
                </div>
                <div class="card-body text-center">
                    <button class="btn btn-outline-secondary waves-effect">                 
                        Elections
                    </button>
                    <hr>
                <p class="font-small mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>          
                </div>
            </div>

            <div class="card mb-4 ">
                <!--Card image-->
                <div class="view overlay">                    
                        <img src="/images/USA-flag.jpg" class="img-fluid" alt="sample">
                        <div class="hoverMask"></div>                        
                </div>
                <div class="card-body text-center">
                    <a href="/about">
                        <button class="btn btn-outline-secondary waves-effect">                 
                            About
                        </button>
                    </a>
                    <hr>
                    <p class="font-small mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>

            </div>

            <div class="card mb-4">
                <!--Card image-->
                <div class="view overlay ">                        
                    <img src="/images/books.jpg" class="img-fluid" alt="sample">
                    <div class="hoverMask"></div>
                </div>                                  
                <div class="card-body text-center">
                    <button class="btn btn-outline-secondary waves-effect">                 
                        Educate
                    </button>
                    <hr>
                    <p class="font-small mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>

            </div>

        </div>
    </div>


    
    <script>
        // $(document).ready(function() {
        // $('.btn').hover(function() {
        //     $('.hoverMask').addClass('mask flex-center rgba-white-light')
        // });        
        // })
    </script>