#AddressTable td {
    padding: .2rem;
}

#JumbotronAddress {
    color:white;
    border-radius: 0px;
    background: url("/images/us-congress.jpg") ;
    background-size: 100% 100%;
    position: relative;
    text-align: center;
}


#JumbotronAddress .layer {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(96, 61, 105, 0.7);

}


.address-results h3 {
    background-color: rgba(96, 61, 105, 1);
    color:white;
}

#JumbotronAddress  p {
    font-size: 1.4rem;
}

.testimonial-card {
    border: rgba(96, 61, 105, 1) 1px solid; 
    color: rgb(96, 61, 105);

}


.navbar>.navbar-toggler {
    border: 2px solid dodgerblue;
}

#NewSearch {
    border: 1px solid rgb(47, 0, 58) !important;
    color:  #2F003A !important;
    background-color: rgb(252, 247, 255);
}




#findButton {
    color: white !important;
    border-color: white;
    background-color: #2F003A;
}

.col-12 {
    padding-left:2rem;
}

.address-results img {
max-height: 110px;
margin: 0 auto;
}







@media screen and (max-width: 576px) {
    #JumbotronAddress  .address-container {
    margin: 0;     
    }

    #JumbotronAddress  h2 {
        font-size: 1.5rem;
    }
    #JumbotronAddress  p {
        font-size: 1rem;
    }
}


/*  */
@media only screen and (min-width:200px) and (max-width: 900px) {
    #JumbotronAddress  {
        height: 60vmin;
    }
}
/* Over 900px */
@media only screen and (min-width: 900px) {
    #JumbotronAddress  {
        height: 90vmin;
    }
    #JumbotronAddress  h2 {
        font-size:3rem;
    }
    #JumbotronAddress p {
        font-size:1.7rem;
    }
    .input-group {
        width: 85%;
        margin: 0 auto;
  
    }
    #Input {
        padding-top:6px;
        padding-bottom: 4px;
    }
}

@media only screen and (min-width: 1200px) {
    #JumbotronAddress  {
        height: 100vmin;
    }
  
}