#AddressTable td {
    padding: .2rem;
}

.jumbotron {
    color:white;
    border-radius: 0px;
    background: url("/images/us-congress.jpg") ;
    background-size: 100% 100%;
    position: relative;
}

.layer {
    background-color: rgba(96, 61, 105, 0.7);
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.address-results h3 {
    background-color: rgba(96, 61, 105, 1);
    color:white;
}

.jumbotron p {
    font-size: 1.4rem;
}

.testimonial-card {
    border: rgba(96, 61, 105, 1) 1px solid; ;
}


.navbar>.navbar-toggler {
    border: 2px solid dodgerblue;
}



.customer-toggler > .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


#findButton {
    color: white;
    border-color: white;
    background-color: #2F003A;
}

.col-12 {
    padding-left:2rem;
}

.address-results img {
max-height: 110px;
margin: 0 auto;
}

thead {
color:white;
}

td {
width: 49%;
}

thead tr {
background-color: rgba(95, 0, 119, 0.5);
}
#AddressTable td, #AddressTable th {
    border: 0;

}

.national-table >th {
font-size: 1.1rem;    
}





@media screen and (max-width: 576px) {
    .jumbotron .address-container {
    margin: 0;     
    }

    .jumbotron h2 {
        font-size: 1.5rem;
    }
    .jubotron p {
        font-size: 1rem;
    }
}


/*  */
@media only screen and (min-width:200px) and (max-width: 900px) {
    .jumbotron {
        height: 60vmin;
    }
}
/* Over 900px */
@media only screen and (min-width: 900px) {
    .jumbotron {
        height: 90vmin;
    }
}

@media only screen and (min-width: 1200px) {
    .jumbotron {
        height: 100vmin;
    }
}
