
html {
    position: relative; /* for sticky footer*/
    min-height: 100%;
  }

body {
    font-family: times;
    color:#2F003A;
    margin-bottom: 60px; /* Margin bottom by footer height */
}
/*Navbar*/


#Input {
    padding-left:3px;
    }

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247, 22, 22, 0.8' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#AddressOfficials .row {
    padding-top: 5px;
    padding-bottom: 5px;
}





.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: rgba(96, 61, 105, 1);
    color:white;
  }

  .footer h3 {
    margin-bottom: 0;
}

  .footer .container {
    
        width: auto;
        max-width: 680px;
        padding: 0 15px;
        color: white;
  }
  

@media screen and (max-width: 576px) {
    .navbar {
        padding-left: 1px;
        padding-right: 1px;
    }

    .navbar-brand {
        max-width: 70%;
    }
    .navbar-toggler {
        padding: 3px;
    }

    .navbar h1 {
        font-size: 1.5rem;
    }
    .jumbotron {
        text-align: center;
    }
    
} 


.obama-voting {
    height: 70vmin;
    background: url('/images/obama-voting.jpg') no-repeat fixed center;
    background-size: 97% 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.old-congress {
    min-height: 70vmin;
    background: url('/images/old-congress.jpg') no-repeat center;
    background-size: 97% 100%;
    
}

@media screen and (max-width: 768px) {
    .obama-voting {
        height: 40vmin;
    }
}
.old-congress {
    font-size: 1.4rem;
}

.old-congress .row .col-sm-6:nth-child(2) {
    background-color: rgba(96, 61, 105, 0.5);
    color:white;
}

#NavBarRow div.card {
    background-size: 100% 100%;
}

